/* imported font */
.newfont{
    font-family: 'Amita', cursive;
    font-size: large;
    margin-top: 5px;
}
/* NAV STUFF */
.navbar{
    background-color: #C9CFCF;
}
.nav-link{
    color: #7A8187;
}
.navbar-brand{
    color: #303030;
    font-weight: bold;
}
/* github icon */
.githu{
    margin-top: 8px;
    margin-left: 5px;
    margin-right: 10px;
}

.background_signin{
    background-color: #F0F4FC;
}
.background_login{
    background-color: #F0F4FC;
}
.background_page{
    background-color: #7A8187;
}
.nav_text{
    font-size: medium;
}
.button1{
    margin-left: 2px;
    margin-right: 2px;
}
.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    background-color: #c0d0d0;
    border-radius: .3rem;
    font-size: large;
}
.back_footer {
    background-color: #c0d0d0;
    height: 500px;
    width: 100%;
}
/* product boxes, layout of each product in commerce*/
.product_box {
    background-color: #c0d0d0;
    border: solid #c0d0d0 0px;
    border-radius: 10px;
}
/* about page */
.about{
    background-color: #c0d0d0;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    border-radius: .3rem;
}

/* Animation WAVES */

.waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
}

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }
  /*Shrinking for mobile*/
  @media (max-width: 768px) {
    .waves {
      height:40px;
      min-height:40px;
    }
    .content {
      height:30vh;
    }
    h1 {
      font-size:24px;
    }
  }