{% extends "toolmanager/voyage_base.html" %}

{% block body_block %}
    <div class="nu_back rounded">
        <h3>NUBIA</h3>
        <h1>Questions:</h1>
        <br>
        <div class="question_area rounded">
            <h3>Answers:</h1>
            <h5>1. Which country Nubia was connected with and sometimes ruled?</h5>
            <p>Egypt</p>
            <h5>2. What is the other name Nubia is known?</h5>
            <p>Kush</p>
            <h5>3. Most famous nubian Pharaoh?</h5>
            <p>Piye</p>
            <h5>Points gained: {{points_gained}}</h5>
        </div>
{% endblock %}