{% extends "toolmanager/voyage_base.html" %}

{% block body_block %}
    <div class="en_back rounded">
        <h3>ENGLAND</h3>
        <h1>Questions:</h1>
        <br>
        <div class="question_area rounded">
            <h3>Answers:</h1>
            <h5>1. What were the main cultures that made the English?</h5>
            <p>Anglo-Saxon/Norman/Britons</p>
            <h5>2. Who defeated the vikings and unified England?</h5>
            <p>Athelstan</p>
            <h5>3. Who won the famous Battle of Hastings?</h5>
            <p>William of Normandy</p>
            <h5>Points gained: {{points_gained}}</h5>
        </div>
{% endblock %}