{% extends "toolmanager/voyage_base.html" %}

{% block body_block %}
    <div class="br_back rounded">
        <h3>BRAZIL</h3>
        <h1>Questions:</h1>
        <br>
        <div class="question_area rounded">
            <h3>Answers:</h1>
            <h5>1. What the colors of brazil flag stand for now?</h5>
            <p>Gold/Sky/Rivers/Forests</p>
            <h5>2. What the colors of brazil flag stood for?</h5>
            <p>Braganza Dinasty/Habsburg Dinasty</p>
            <h5>3. How brazil became independent?</h5>
            <p>By the son and heir of a portuguese king</p>
            <h5>Points gained: {{points_gained}}</h5>
        </div>
{% endblock %}