{% extends "toolmanager/voyage_base.html" %}

{% block body_block %}
    <div class="an_back rounded">
        <h3>ANDALUSIA</h3>
        <h1>Questions:</h1>
        <br>
        <div class="question_area rounded">
            <h3>Answers:</h1>
            <h5>1. What was the religion of the rulers in Al-Andalus?/Andalusia</h5>
            <p>Islam</p>
            <h5>2. Most known dinasty/clan in Andalusia</h5>
            <p>Umayyad</p>
            <h5>3. Last muslim emirate in hispania?</h5>
            <p>Granada</p>
            <h5>Points gained: {{points_gained}}</h5>
        </div>
{% endblock %}