{% extends "toolmanager/voyage_base.html" %}

{% block body_block %}
    <div class="pt_back rounded">
        <h3>PORTUGAL</h3>
        <h1>Questions:</h1>
        <br>
        <div class="question_area rounded">
            <h3>Answers:</h1>
            <h5>1. What is Vasco da Gama known for?</h5>
            <p>Discovered a sea route to India</p>
            <h5>2. Who is considered the greatest portuguese poet?</h5>
            <p>Luís de Camões</p>
            <h5>3. What originated the name Portugal?</h5>
            <p>A Roman city (Portus Cale)</p>
            <h5>Points gained: {{points_gained}}</h5>
        </div>
{% endblock %}