{% extends "accounts/base.html" %}
{% load static %}
{% block body_block %}

    <div class="jumbotron" align="center">
        {% if profile.profile_points > 400 %}
            <img src="{% static 'icons/profile3.png' %}" alt="">
        {% elif profile.profile_points > 200 %}
            <img src="{% static 'icons/profile2.png' %}" alt="">
        {% else %}
            <img src="{% static 'icons/profile1.png' %}" alt="">
        {% endif %}
        <h1 class="newfont fs-1">{{profile.user.username}}</h1>
        <h4>Email: {{profile.user.email}}</h4>
        <h4>Points: {{profile.profile_points}}</h4>
        <p class="border-bottom border-dark"></p>
        <br>
        <details>
            <summary>Voyages:</summary>
            <p></p>
            <br>
            {% if profile.img_collection_1 == True %}
                <h4 class="border-bottom border-dark">Collection 1</h4>
            {% endif %}
            {% if profile.portugal == True %}
                <h4 class="border-bottom border-dark">Portugal</h4>
            {% endif %}
            {% if profile.andalusia == True %}
                <h4 class="border-bottom border-dark">Andalusia</h4>
            {% endif %}
            {% if profile.nubia == True %}
                <h4 class="border-bottom border-dark">Nubia</h4>
            {% endif %}
            {% if profile.england == True %}
                <h4 class="border-bottom border-dark">England</h4>
            {% endif %}
            {% if profile.brazil == True %}
                <h4 class="border-bottom border-dark">Brazil</h4>
            {% endif %}
        </details>
    </div>
    

{% endblock %}